canvas {
  cursor: pointer;
}

.editButtons {
  display: flex;
  flex-direction: column;
  align-items: center;

  .editQuantity {
    display: flex;
    align-items: center;
    button {
      padding: 0.2rem 1rem;
    }
    input {
      height: 52px;
    }
  }
}

.filters {
  position: sticky;
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  width: 795px;
  height: 90px;
  background: url("/public/assets/bg.png");
  background-size: cover;
  text-align: center;
  z-index: 2;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);

  .filters-button {
    width: 80px;
    height: 79px;
    border: 2px solid rgba(132, 132, 132, 0.701);
    border-radius: 5px;
  }
}

#filterHover {
  position: absolute;
  background: url("/public/assets/filterHover.png");
  background-position: center;
  background-size: contain;
  width: 85px;
  height: 85px;
  z-index: 1;
  pointer-events: none;
  animation: hover-fade alternate infinite 700ms ease-out;
}

#replaceScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #000000cc;
}

#hoverReplacement {
  position: absolute;
  background: url("/public/assets/hover.png");
  background-size: 100% 100%;
  width: 526px;
  height: 90px;
  z-index: 1;
  pointer-events: none;
  animation: hover-fade alternate infinite 700ms ease-out;
}

.selectedItem {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 795px;
    height: 90px;
    background: url("/public/assets/hover.png");
    pointer-events: none;
    animation: hover-fade alternate infinite 700ms ease-out;
  }
}

@keyframes hover-fade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
